<h3>Nouvelle histoire disponible</h3>

<p>
Bonjour, <br><br>

Ceci est un message automatique vous signalant qu'une nouvelle histoire
est disponible sur l'espace personnel myspace de Lazare Fortune. Vous
pouvez consulter l'histoire via ce lien :
https://myspace.lazarefortune.com/public/inspiration/show/{{ story.id }} <br>

Ou en vous connectant à au site : https://myspace.lazarefortune.com <br><br>

Cordialement,<br>
MySpace <br><br>

<span style="color: red;">Merci de ne pas répondre, ceci est un message automatique.</span>


</p>