<h3>Nouvelle histoire disponible</h3>

<p>
Bonjour, <br><br>

Ceci est un message automatique vous signalant qu'une nouvelle story
est disponible sur l'espace personnel myspace de Lazare Fortune. Vous
pouvez consulter l'histoire via ce lien :
<a href="https://myspace.lazarefortune.com/my-space/inspiration/show/{{ story.id }}"> Voir la nouvelle story</a> <br>
Ou en vous connectant au site : <a href="https://myspace.lazarefortune.com">myspace.lazarefortun.com</a> <br><br>

Titre de la story : <strong> {{ story.title }} </strong> <br> 


Cordialement,<br>
MySpace <br><br>

<span style="color: red;">Ce message est généré automatiquement, merci de ne pas répondre.</span>


</p>