.cont_soutenance{
    /* background-color: rgb(236, 191, 140); */
    /* background-color: rgb(226, 188, 157); */
    /* background-color: rgb(231, 200, 175); */
    /* border-color: rgb(231, 200, 175); */
    border: 3px solid rgb(231, 200, 175);
    border-radius: 15% 0;
}

.cont_poster{
    /* background-color: rgb(142, 223, 152); */
    /* background-color: rgb(154, 224, 162); */
    /* border-color: rgb(154, 224, 162); */
    border: 3px solid rgb(154, 224, 162) ;
    border-radius: 15% 0;
}

.page-navs {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    height: 3.5rem;
    background-color: #fff;
    box-shadow: 0 1px 0 rgb(34 34 48 / 10%);
    z-index: 5;
}

.nav-link {
    display: inline-block;
    box-sizing: border-box;
}

.nav-link.active {
    color: rgb(34, 34, 48) !important;
    font-weight: 400;
    padding: 1rem;
    border-bottom: 3px solid #346cb0 !important;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
}
    
.nav-link {
    border-left-width: 0;
    border-right-width: 0;
    border-image-width: 1;
    margin: 0 5px;
    border-top-width: 0;
    outline: 0;
    color: #888c9b;

}
    
.nav-link:hover {
    border-bottom: 3px solid rgba(136, 140, 155, 0.5);
}