{% extends "layouts/dashboard.html.twig" %}

{% block admin_content %}

<div class="row">
    <div class="col-md-7 mx-auto mt-4">
        {{ form(userForm) }}
    </div>
</div>

{% endblock %}