{% extends "layouts/admin.html.twig" %}

{% block admin_content %}

	<div class="row">
		<div
			class="col-md-9 mx-auto">
			{# Ceci est la page d'accueil
			            <div class="card-metric mt-4">
			                Informations: 
			            </div> #}

			<div class="card  mt-4 p-3">
				<p>Bienvenue <b>{{ app.user.nom }} {{ app.user.prenom }}</b></p>
			</div>

			

			<!-- /.row -->
			<div class="row">
				<!-- /.col-md-6 -->
				<div class="col-lg-6">
					<div class="card card-success card-outline">
						<div class="card-header">
							<h5 class="m-0 font-weight-bold">Mes histoires</h5>
						</div>
						<div class="card-body">
							<h6 class="card-title">Espace de partage de stories</h6>

							<p class="card-text">Mes histoires est une application que j'ai conçu pour laisser libre parler ma plume et mes histoires, mes pensées quotidiennes.</p>
							<a href="{{ path('inspiration') }}" class="btn btn-success">Consulter</a>
							{# <a href="#" class="card-link ml-3">En savoir plus</a> #}
						</div>
					</div>
				</div>
				<!-- /.col-md-6 -->
			</div>
			<!-- /.row -->
			<div class="row">
				<!-- /.col-md-6 -->
				<div class="col-lg-6">
					<div class="card card-primary card-outline">
						<div class="card-header">
							<h5 class="m-0">Espace de stockage</h5>
						</div>
						<div class="card-body">
							<h6 class="card-title">Special title treatment</h6>

							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
							<a href="https://datas.lazarefortune.com" target="_blank" class="btn btn-primary">Consulter</a>
							<a href="#" class="card-link ml-3">En savoir plus</a>
						</div>
					</div>
				</div>
				<!-- /.col-md-6 -->
				<!-- /.col-md-6 -->
				<div class="col-lg-6">
					<div class="card card-warning card-outline">
						<div class="card-header">
							<h5 class="m-0">Mes projets</h5>
						</div>
						<div class="card-body">
							<h6 class="card-title">Special title treatment</h6>

							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
							<a href="https://projets.lazarefortune.com" target="_blank" class="btn btn-warning">Consulter</a>
							<a href="#" class="card-link ml-3">En savoir plus</a>
						</div>
					</div>
				</div>
				<!-- /.col-md-6 -->
			</div>
			

		</div>

	</div>

{% endblock %}
