{% extends "layouts/dashboard.html.twig" %}

{% block admin_content %}
    <h1>hello administrateur</h1>

    <form action="" method="post">
        <div class="form-group">
            <input type="email" class="form-control" name="" id="">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Valider</button>
        </div>
    </form>
{% endblock %}