body {
    font-family: 'Fira Sans', sans-serif !important;
    background: url(../images/page-bg.jpg) repeat center center fixed;
}

::-moz-selection {
    /* Code for Firefox */
    color: red;
    background: yellow;
}

::selection {
    color: red;
    background: yellow;
}

.social-links {
    /* margin-top: 30px; */
}

.social-links a {
    font-size: 34px;
    display: inline-block;
    /* color: #45505b; */
    color: aqua;
    line-height: 1;
    margin-right: 20px;
    transition: 0.3s;
}

.social-links a:hover {
    color: #0563bb;
}

.icons-languages {
    font-size: 80px;
    display: inline-block;
    text-align: center;
}

.btn {
    box-shadow: none !important;
}