<h1>Suppression de votre compte</h1>

<p>Bonjour  {{ nom }} <br>
Vous avez recemment demander la suppression de votre compte de notre site <b>My Space</b>. <br>
Nous vous confirmons avoir bien pris en compte votre demande. <br>
Cordialement, <br>
<b>My Space</b>
</p>