{% extends 'layouts/dashboard.html.twig' %}

{% block admin_title %}Edit Module{% endblock %}

{% block admin_content %}
    <h1>Edit Module</h1>

    {{ include('admin/module/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_module_index') }}">back to list</a>
    <a href="{{ path('admin_filiere_show', {'id' : module.filiere.id}) }}" class="btn btn-sm btn-secondary my-2">back to filiere</a>

    {{ include('admin/module/_delete_form.html.twig') }}
{% endblock %}
