{% extends "layouts/admin_simple.html.twig" %}

{% block site_content %}

	<div class="container bg-white">
		<div class="row d-flex justify-content-center">
			<form class="col-md-6 mt-5" method="post">
        <h3 class="text-center" >Connexion</h3>
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				<div class="form-group my-3">
					<label class="d-block text-left" for="username">Identifiant</label>
					<input type="text" name="username" id="username" class="form-control" required="">
				</div>
				<div class="form-group my-3">
					<label class="d-block text-left" for="password">Mot de passe</label>
					<input type="password" name="password" id="password" class="form-control" required="">
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="form-group my-3 d-flex justify-content-center">
					<button class="btn btn-primary btn-block" type="submit">Se connecter</button>
				</div>

				<div class="checkbox mb-3">
					<label>
						<label for="remember_me"></label>
						<input type="checkbox" id="remember_me" name="_remember_me" checked>
						Rester connecté
					</label>
				</div>


				<p class="py-2">
					<a href="{{ path('password_reset') }}" class="link">Mot de passe oublié ?</a>
				</p>
			</form>
		</div>
	</div>
	
{% endblock %}
