{% extends "layouts/auth.html.twig" %}

{% block auth_content %}
<div class="form-container">
			<div class="form-form">
				<div class="form-form-wrap">
					<div class="form-container">
						<div class="form-content">

							<h1 class="">
								<a href="">
									<span class="brand-name">My Space</span>
								</a>
							</h1>
							<p class="signup-link">Nouveau membre?
								<a href="">Créer un compte</a>
							</p>
							<form class="text-left" method="post">
								<div class="form">
									{% if error %}
										<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
									{% endif %}
									{% include 'layouts/flash-messages.html.twig' %}
									<div id="username-field" class="field-wrapper input">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
											<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
											<circle cx="12" cy="7" r="4"></circle>
										</svg>
										<input id="username" name="username" type="text" class="form-control" placeholder="Identifiant">
									</div>

									<div id="password-field" class="field-wrapper input mb-2">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock">
											<rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
											<path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
										</svg>
										<input id="password" name="password" type="password" class="form-control" placeholder="Mot de passe">
									</div>
									<div class="d-sm-flex justify-content-between">
										<div class="field-wrapper toggle-pass">
											<p class="d-inline-block">Afficher le mot de passe</p>
											<label class="switch s-primary">
												<input type="checkbox" id="toggle-password" class="d-none">
												<span class="slider round"></span>
											</label>
										</div>
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
										<div class="field-wrapper">
											<button type="submit" class="btn btn-primary" value="">Se connecter</button>
										</div>

									</div>

									<div class="field-wrapper text-center keep-logged-in">
										<div class="n-chk new-checkbox checkbox-outline-primary">
											<label class="new-control new-checkbox checkbox-outline-primary">
												<input type="checkbox" class="new-control-input" name="_remember_me" checked>
												<span class="new-control-indicator"></span>Rester connecté
											</label>
										</div>
									</div>

									<div class="field-wrapper">
										<a href="{{ path('forgotten_password') }}" class="forgot-pass-link">Mot de passe oublié?</a>
									</div>

								</div>
							</form>
							<p class="terms-conditions">© 2021 Tous les droits sont réservés.
								<a href="">My Space</a>
								est une production de.
								<a href="https://www.lazarefortune.com" target="_blank">Lazare Fortune</a>
							</p>

						</div>
					</div>
				</div>
			</div>
			<div class="form-image">
				<div class="l-image"></div>
			</div>
		</div>
{% endblock %}